*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(https://startbootstrap.github.io/startbootstrap-business-casual/assets/img/bg.jpg);
    background-attachment: fixed;
    position: relative;
}
.ful2{
    position: absolute;
    background-color: #2f170fa1;
    width: 100%;
}
.header{
    text-align: center;
    color: rgb(160, 112, 10);
    font-size: 35px;
    margin-top: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header1{
    text-align: center;
    color:#f6e1c5;
    font-size: 80px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    margin: 30px;
}
.navigation{
    display: flex;
    gap: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 23, 15, 0.9);
    color:rgb(218, 204, 174); 
    padding: 30px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navigation span{
    transition: 0.3s;
}
.navigation span :hover{
    color: rgb(169, 102, 7);
}
.ful2{
    position: absolute;
    background-color: #2f170fa1;
    width: 100%;
}
.navigation a{
    text-decoration: none;
    color: white;
}
.sec1{
    position: relative;
}
.div1{
    position: absolute;
    background-color: #f6e1c5;
    border-radius: 10px;
    padding: 40px 40px 20px ;
    right: 7%;
    top: 5%;
    
}
.div1 h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.div1 h2{
    font-family:"Raleway", sans-serif ;
    text-align: center;
    font-size: 50px;
    padding-bottom: 30px;
}
.div2 img{
    width: 60%;
    border-radius: 10px;
    margin-left: 20%;
    margin-top: 10%;
}
.div3{
    position: absolute;
    background-color: #f6e1c5;
    border-radius: 10px;
    padding: 40px 40px 20px ;
    width: 700px;
    font-family:Arial, Helvetica, sans-serif;
    bottom: -15%;
    left: 8%;
    line-height: 24px;

}
.sec2{
    position: relative;
    margin-bottom: 10%;
}
.divv1{
    position: absolute;
    background-color: #f6e1c5;
    border-radius: 10px;
    padding: 40px 40px 20px ;
    margin-top: 13%;
    margin-left: 7%;
}
.divv1 h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.divv1 h2{
    font-family:"Raleway", sans-serif ;
    text-align: center;
    font-size: 50px;
    padding-bottom: 30px;
}
.divv2 img{
    width: 60%;
    border-radius: 10px;
    margin-left: 20%;
    margin-top: 20%;
}
.divv3{
    background-color: #f6e1c5;
    border-radius: 10px;
    padding: 40px 40px 20px ;
    width: 700px;
    position: absolute;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 24px;
    right: 10%;
    top: 90%;
}
.divfoot{
    background-color: rgba(47, 23, 15, 0.9);
    padding: 40px;
    text-align: center;
    color: white;
    margin-top: 10%;
}